// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$salmon1: rgba(243, 140, 115, 1);
$salmon2: rgba(232, 233, 235, 1);
$salmon3: rgba(224, 223, 213, 1);
$salmon4: rgba(81, 163, 163, 1);
$salmon5: rgba(242, 174, 112, 1);
