
<div class="footer-container d-flex justify-content-around fixed-bottom">

    <div class="card">
      <i class="fas fa-search"></i>
      <h5 class="card-title">Chercher</h5>
    </div>

    <div class="card">
      <i class="far fa-plus-square"></i>
      <h5 class="card-title">Publier</h5>
    </div>

    <div class="card">
      <i class="far fa-calendar-alt"></i>
      <h5 class="card-title">Missions</h5>
    </div>

    <div class="card">
      <i class="far fa-comment-alt"></i>
      <h5 class="card-title">Messages</h5>
    </div>

    <div class="card">
      <i class="far fa-user"></i>
      <h5 class="card-title">Profil</h5>
    </div>
 </div>
