

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33343/building-joy-planning-plans.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Loue mon conjoint </h1>
    <p>Proposez et trouvez un conjoint pour tous vos services à domicile.</p>
    <a class="btn" href="#">Publier une annonce</a>
  </div>
</div>

