<div class="container">
      <div class="row justify-content-center">
        <h1>Toutes les annonces disponibles</h1>
          <div class="col-12 col-sm-3 col-lg-12">
            <% @offers.each do |offer| %>
              <div class="card-trip mb-4">
                <img src="https://cdn.pixabay.com/photo/2016/02/28/12/00/gift-1226848_960_720.jpg" />
                <div class="card-trip-infos">
                  <div>
                    <p> <%= offer.description %></p>
                    <h2><%= offer.user.username %></h2>
                  </div>
                  <h2 class="card-trip-pricing"> <%= offer.price %>€</h2>
                  <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                </div>
              </div>
            <% end %>
          </div>

      </div>
</div>
