.offers-container{
  width: 80vw;
  margin-left: 10vw;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip:hover {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%)
}

.card-trip > img:hover {
  height: 200px;
  width: 100%;
  object-fit: cover;
  filter: brightness(100%)

}



.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 50px;
  top: 20px;
}

.link-card{
text-decoration:none;
color:#323131;
}

.link-card:hover{
text-decoration:none;
color:#323131;
}

.card-trip-infos{
  position: relative;
}

.card-trip-pricing{
  position: relative;
  right: 16px;
  top: 0px;
  width: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #f38c73;
}

#title-page-offer{
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

#category-title-orange{
  color:#f38c73;
}
